{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% total_post %}
    Title = {{post.title}}<br>
    slug = {{post.slug}}<br>
    body = {{post.body}}<br>
    status = {{post.status}}<br>
    author = {{post.author}}<br>
    tags - {{post.tags.all}}<br>

    <h3>Similar Post</h3>
    {% for post in similar_posts %}
        <a href="{{post.get_absolute_url}}">{{post|linebreaks}}</a>
    {% endfor %}


    <h3> Latest Post </h3>
    {% show_latest_posts 5 %}

    <h3> Comment</h3>
    <form method="post">
        {% csrf_token %}
        {{emailform.as_p}}
        <input type="submit" value="Send Email">
    </form>

    <a href="{% url "myapp:commentview" post.pk%}">Write a comment</a>
    <br>
    {% for comment in comments %}
        {{comment|linebreaks}} - {{comment.email}} {{comment.active}} Created Time - {{comment.created}}
    {%endfor%}
</body>
</html>