<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Title = {{post.title}}<br>
    slug = {{post.slug}}<br>
    body = {{post.body}}<br>
    status = {{post.status}}<br>
    author = {{post.author}}<br>


    <form method="post">
        {% csrf_token %}
        {{emailform.as_p}}
        <input type="submit" value="Send Email">
    </form>
</body>
</html>